<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
    <h1>Course Details</h1>
    <table border = "2" id = "course-details-table">
            <tr>
                <th>Average Marks</td>
                <th>Maximum Marks</td>
            </tr>
            <tr>
                <td>{{average_marks}}</td>
                <td>{{maximum_marks}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <img src="/static/histogram.png">
    <br>
    <a href="/">Go Back</a>
</body>
</html>